* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

/* default font */
body {
    background-color: #363636;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    color: #fffcea;
}

/* reading font */
.legible {
    font-family: "HandJet", sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 900;
}

/* navagation */
header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fffcea;
}

/* home button */
.title {
    width: 337px;
    height: 171px;
    font-size: 64px;
    border: 4px dashed #fffcea;
    text-align: center;
    stroke: #fffcea;
}

/* info button */
.info {
    width: 87px;
    height: 40px;
    font-size: 24;
    border: 4px dashed #fffcea;
    text-align: center;
}

/* composition sections */
.art {
    margin-top: 53px;
    margin-bottom: 53px;
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
    position: relative;
}

.art-background {
    font-size: 2.5vw;
    background-color: #191919;
    color: #383838;
    line-height: 80%;
    position: absolute;

}

.header {
    position: relative;
    z-index: 900;
    font-size: 10vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.creatures {
    position: relative;
    z-index: 900;
    display: flex;
    grid-template-columns: 161px 384px 384px 384px 161px;
    justify-content: space-between;
}

pre {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    color: #fffcea;
    line-height: 80%;
}

.bubbles {
    font-size: 2vw;
}

.jellyfish {
    font-size: 3vw;
}

.squid {
    font-size: 4vw;
}

.example-background {
    font-size: 2.5vw;
    text-align: center;
    background-color: #191919;
    color: #383838;
    line-height: 80%;
    position: absolute;
}

.start {
    position: relative;
    z-index: 900;
    font-size: 9vw;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.char-background {
    font-size: 2.55vw;
    text-align: center;
    background-color: #d9d9d9;
    color: #bfbfbf;
    line-height: 80%;
    position: absolute;
}

.dark {
    color: #3d3d3d;
}

.char {
    position: relative;
    z-index: 900;
    font-size: 30vw;
    margin-top: 10px;
    height: 15%;
    margin-bottom: 10px;
    text-shadow: 0px 5px 0px #6c6c6c;
}

.profile {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: .75vw;
    text-align: center;
    line-height: 185%;
    letter-spacing: 0%;
}