* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

/* default font */
body {
    background-color: #363636;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    color: #fffcea;
}

/* reading font */
.legible {
    font-family: "HandJet", sans-serif;
    font-weight: 400;
    position: relative;
    z-index: 900;
}

/* navagation */
header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fffcea;
}

/* home button */
.home {
    width: 50%;
    font-size: 8vw;
    border: 4px dashed #fffcea;
    text-align: center;
}

.home:hover {
    text-decoration: underline;
}

/* info button */
.info {
    width: 12%;
    height: 15%;
    font-size: 3vw;
    border: 4px dashed #fffcea;
    text-align: center;
}

.info:hover {
    text-decoration: underline;
}

/* composition sections */
.art {
    width: 80vw;
    margin: auto auto;
    text-align: center;
    position: relative;
}

.header-top {
    position: relative;
    z-index: 900;
    font-size: 10vw;
    text-align: center;
    margin-bottom: 1px;
}

.header-bot {
    position: relative;
    z-index: 900;
    font-size: 10vw;
    text-align: center;
    margin-top: 1px;
}

.art-background {
    font-size: 2.5vw;
    background-color: #191919;
    color: #383838;
    border: 4px dashed #fffcea;
    line-height: 80%;
    position: absolute;
}

.creatures {
    position: relative;
    z-index: 900;
    display: flex;
    justify-content: space-between;
}

pre {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
    color: #fffcea;
    line-height: 80%;
}

.bubbles {
    font-size: 2vw;
    scale: 1.6;
    animation: riseandfall 2s infinite alternate linear;
}

.jellyfish {
    font-size: 3vw;
    animation: riseandfall 2.333s infinite alternate linear;
}

.squid {
    font-size: 4vw;
    scale: 1.2;
    animation: riseandfall 3s infinite alternate linear;
}

@keyframes riseandfall {
    0% {
        transform: translateY(4vh);
    }
    100% {
        transform: translateY(-4vh);
    }
}

.example-background {
    font-size: 2.5vw;
    background-color: #191919;
    color: #383838;
    border: 4px dashed #fffcea;
    line-height: 80%;
    position: absolute;
}

.title {
    position: relative;
    z-index: 900;
    font-size: 13vw;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    animation: scaleup 5s infinite alternate linear;
}

@keyframes scaleup {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.start {
    font-size: 2vw;
    text-align: center;
    position: relative;
    z-index: 900;
    margin-bottom: 5px;
}

.start:hover {
    text-decoration: underline;
}

.char-background {
    font-size: 2.55vw;
    text-align: center;
    background-color: #d9d9d9;
    color: #bfbfbf;
    border: 4px dashed #212121;
    line-height: 80%;
    position: absolute;
}

.dark {
    color: #3d3d3d;
}

.char {
    position: relative;
    z-index: 900;
    font-size: 20vw;
    height: 15%;
    margin: auto auto 1px 1px;
    text-shadow: 0px 5px 0px #6c6c6c;
    text-shadow: 0px 10px 0px #8f8f8f;
    transition: 200ms;
}

.char:hover {
    scale: 1.3;
}

/* INFO STYLES */

.name {
    width: 47%;
    margin-left: 20px;
    font-size: 4vw;
    border: 4px dashed #fffcea;
    text-align: center;
    stroke: #fffcea;
}

.grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    padding: 50px;
}

.box-left {
    border: 4px dashed #fffcea;
    stroke: #fffcea;
    line-height: auto;
    font-size: 3vw;
    width: 35vw;
    padding: 20px;
}

.box-right {
    border: 4px dashed #fffcea;
    stroke: #fffcea;
    line-height: auto;
    font-size: 2vw;
    width: 40vw;
    padding: 20px;
    text-align: right;
}

.box-profile {
    width: 35vw;
    padding: 20px;
    align-items: flex-start;
    text-align: center;
}

.box-profile a {
    text-decoration: underline;
}

.source {
    border: 4px dashed #fffcea;
    stroke: #fffcea;
    line-height: auto;
    font-size: 2vw;
    text-align: center;
    width: 80%;
    margin: auto auto 50px auto;
}

.source a {
    text-decoration: underline;
}

.profile {
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: .3vw;
    text-justify: auto;
    line-height: 125%;
}

h1 {
    word-break: break-all;
}
